.feedContainer {
  display: grid;
  grid-template-columns: min-content 1fr;
  height: 100vh;
}

.feed {
  display: grid;
  width: 100%;
  justify-content: center;
  gap: 2rem;
  overflow-y: auto;
}

.feed img {
  object-fit: cover;
}
@media (max-width: 700px) {
  .feedContainer {
    grid-template-columns: 1fr;
    grid-template-rows: auto min-content;
    height: 100vh;
  }

  .feed {
    grid-row: 1;
  }
}
