@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Montserrat&family=Poppins:wght@400;700&display=swap");

body {
  --font-primary: "Poppins", Arial, sans-serif;
  --font-secondary: "Berkshire Swash", cursive;
  --color-primary: #8b51e1;
  --color-secondary: #0095f6;
  --color-tertiary: #6f33ca;
  --color-error: #f30d0d;
  --default-border-radius: 5px;
  font-family: var(--font-primary);
  font-size: 1rem;
  line-height: 1.5rem;
}
body,
html,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.logo {
  font-family: var(--font-secondary);
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: var(--color-secondary);
}

@keyframes slideTime {
  to {
    width: 0%;
  }
}
