.fixedContainer {
  width: 250px;
  height: 100%;
  z-index: -1;
}

.container {
  position: absolute;
  height: 100vh;
  width: 250px;
  border-right: 1px solid #00000020;
  display: flex;
  flex-direction: column;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.mainButtons {
  height: 100%;
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: grid;
  gap: 2rem;
  height: 100%;
  align-content: flex-start;
  padding: 1rem 2rem;
}

.navbar a {
  color: var(--color-font);
}

.navbar a.active {
  font-weight: bold;
}

.navBarItem img {
  display: inline-block;
}

.navBarItem {
  display: flex;
  align-items: center;
  gap: 12px;
  min-height: 32px;
}

.navBarItem span {
  overflow: hidden;
  white-space: nowrap;
}

.navBarItem:hover {
  scale: 107%;
  transition: scale 0.1s;
  cursor: pointer;
}

.navBarItemNotification {
  position: relative;
}

.navBarItemNotification::before {
  display: block;
  content: "";
  background-color: var(--color-error);
  border-radius: 50%;
  position: absolute;
  height: 7px;
  width: 7px;
  top: 7px;
  left: 15px;
}

.navbar div:first-child {
  padding: 0px;
}

.navBarItem:last-child {
  margin-top: 50%;
}

.searchActive {
  width: min-content;
}

.searchActive span,
.searchActive h1 {
  display: none;
}

@media (max-width: 1000px) {
  .container {
    width: min-content;
  }

  .container span,
  .container h1 {
    display: none;
  }
}

@media (max-width: 700px) {
  .container {
    height: min-content;
    display: flex;
    width: auto;
    justify-content: flex-end;
    position: revert;
  }

  .mainButtons {
    max-width: revert;
  }

  .navbar {
    height: revert;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    grid-row: 2;
    align-self: end;
    border-right: 0px;
    border-top: 1px solid #00000020;
    gap: 5px;
  }

  .container a:first-child {
    display: none;
  }

  .navbar a {
    display: initial;
  }

  .navBarItemNotification::before {
    top: 5px;
  }

  .endNavBar {
    display: none;
  }

  .navBarItem:last-child {
    display: none;
  }
}
