.container {
  max-width: 468px;
  margin-inline: 10px;
}

.container a {
  color: var(--color-font);
}

.container a:hover {
  opacity: 50%;
}

.userInfo {
  display: flex;
  justify-content: space-between;
  margin-block: 1rem;
}

.userProfileInfo {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 0.75rem;
  font-weight: bold;
}

.userInfoText > * {
  margin-inline: 3px;
}

.userInfoText a {
  color: var(--color-font);
}

.userInfoText span:last-child {
  opacity: 50%;
}

.options {
  font-size: 2rem;
  color: var(--color-font);
}

.imgContainer {
  position: relative;
  aspect-ratio: 468 / 562;
}

.imgContainer img {
  border-radius: 0.25rem;
  margin: auto;
}

.postInfo {
  padding-block: 0.5rem;
}

.postButtons {
  display: flex;
  justify-content: space-between;
}

.interactionButtons {
  display: flex;
  gap: 15px;
}

.likeCount a {
  font-weight: bold;
  font-size: 0.8rem;
}

.likeCount a:hover {
  opacity: 100%;
}

.postDescription {
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

.postDescription * {
  display: inline;
}

.userPostNick {
  margin-right: 0.5rem;
  font-weight: bold;
}

.commentSection {
  font-size: 0.75rem;
}

.commentSection * {
  display: inline;
}

.viewComments {
  display: block;
  opacity: 50%;
}

@media (max-width: 500px) {
  .container {
    width: initial;
  }

  .imgContainer {
    /* width: auto; */
    height: auto;
    aspect-ratio: 468 / 562;
  }
}
